<!DOCTYPE html>
<html>
	<head>
		
		<title>Expresso Livre - {{ "Sign in" | trans }}</title>
		<script src="{{ asset('bundles/webclient/plugins/jquery/jquery-1.6.2.min.js') }}" type="text/javascript" ></script>
		<script src="{{ asset('bundles/webclient/plugins/ejs/ejs.min.js') }}" type="text/javascript" ></script>
		<script src="{{ asset('bundles/webclient/plugins/ejs/ejs.js') }}" type="text/javascript" ></script>
		<script id="login" type="text/javascript">
			var loginObj = {
				last_user :  "{{last_username }}",
				error : undefined
			};
			{% if error %}
				loginObj.error = "{{ error.message | trans}}";
			{% endif %}
		</script>
        <script src="{{ asset('bundles/webclient/plugins/bootstrap/jquery-ui-1.8.16.custom.min.js') }}" type="text/javascript" ></script>
        <script src="{{ asset('bundles/webclient/plugins/wijmo/jquery.wijmo-open.min.js') }}" type="text/javascript" ></script>
        <link href="{{ asset('bundles/webclient/plugins/jquery/jquery-ui-1.8.16.custom.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/webclient/plugins/jquery/jquery.ui.1.8.16.ie.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/webclient/plugins/wijmo/jquery-ui.wijmo.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/webclient/plugins/wijmo/jquery.wijmo-open.2.2.0.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/webclient/plugins/bootstrap/bootstrap.css') }}" rel="stylesheet" type="text/css" />
        <script src="{{ asset('bundles/webclient/js/API.js') }}" type="text/javascript" ></script>
        <script src="{{ asset('bundles/webclient/js/Exception.js') }}" type="text/javascript" ></script>
                <script type="text/javascript">
            var API = new oAPI( "{{ asset('') }}app_dev.php" ,  "{{ asset('bundles/webclient') }}" );
        </script>
        <script src="{{ asset('bundles/webclient/js/login.js') }}" type="text/javascript" ></script>
        <link href="{{ asset('bundles/webclient/css/login.css') }}" rel="stylesheet" type="text/css" />
	</head>
    {#<body style="background : url({{ asset('bundles/webclient/images/logo-home.jpeg') }}) no-repeat;">    #}
    <body style="background-image:url({{asset('bundles/webclient/images/degrade.png')}});background-repeat:repeat-x;">
    	<div class="image-background1 image-background">
    		<a href="http://www1.caixa.gov.br/loterias/seja_empresario_loterico/index.asp" target="_blank">
    			<img src="{{asset('bundles/webclient/images/fundop1.png')}}">
    		</a>
    	</div>
    	<div class="image-background2 image-background">
    		<a href="http://www1.caixa.gov.br/atendimento/como_ser_correspondente_bancario.asp" target="_blank">
    			<img src="{{asset('bundles/webclient/images/fundop2.png')}}">
    		</a>
    	</div>
    	<div class="image-background3 image-background">
    		<a href="http://www1.caixa.gov.br/loterias/index.asp" target="_blank">
    			<img src="{{asset('bundles/webclient/images/fundop3.png')}}">
    		</a>
    	</div>
	</body>
</html>

