{% extends 'ExpressoBundle::setup_layout.html.twig' %}

{% block title %} Expresso - Setup - Email {% endblock %}

{% block body %}
    {% form_theme form "SensioDistributionBundle::Configurator/form.html.twig" %}
    {% include "SensioDistributionBundle::Configurator/steps.html.twig" with { "index": index, "count": count } %}

    <h1>Configure Email</h1>
    <p>Configuration of email connection parameters.</p>

    {{ form_errors(form) }}
    <form action="{{ path('ExpressoBundle_setup', { 'index': index }) }}" method="POST">
        <div class="symfony-form-column">
            {{ form_row(form.name) }}
            {{ form_row(form.default_domain) }}
            {{ form_row(form.organization) }}
        </div>

        <div class="symfony-form-column">
            {{ form_row(form.smtp_type) }}
            {{ form_row(form.smtp_host) }}
            {{ form_row(form.smtp_port) }}
        </div>

        <div class="symfony-form-column">
            {#{{ form_row(form.imap_type) }}#}
            {{ form_row(form.imap_host) }}
            {{ form_row(form.imap_port) }}
            {{ form_row(form.imap_delimiter) }}
        </div>

        {{ form_rest(form) }}

        <div class="symfony-form-footer">
            <p><input type="submit" value="Next Step" class="symfony-button-grey" /></p>
            <p>* mandatory fields</p>
        </div>
    </form>
{% endblock %}